<%= form_with(model: server, local: true) do |form| %>
  <% if server.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(server.errors.count, "error") %> prohibited this server from being saved:</h2>

      <ul>
      <% server.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :port %>
    <%= form.number_field :port, id: :server_port %>
  </div>

  <div class="field">
    <%= form.label :ip_address %>
    <%= form.text_field :ip_address, id: :server_ip_address %>
  </div>

  <div class="field">
    <%= form.label :passworded %>
    <%= form.check_box :passworded, id: :server_passworded %>
  </div>

  <div class="field">
    <%= form.label :users %>
    <%= form.text_area :users, id: :server_users %>
  </div>

  <div class="field">
    <%= form.label :server_key %>
    <%= form.text_field :server_key, id: :server_server_key %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
