<p id="notice"><%= notice %></p>

<p>
  <strong>Port:</strong>
  <%= @server.port %>
</p>

<p>
  <strong>Ip address:</strong>
  <%= @server.ip_address %>
</p>

<p>
  <strong>Passworded:</strong>
  <%= @server.passworded %>
</p>

<p>
  <strong>Users:</strong>
  <%= @server.users %>
</p>

<p>
  <strong>Server key:</strong>
  <%= @server.server_key %>
</p>

<%= link_to 'Edit', edit_server_path(@server) %> |
<%= link_to 'Back', servers_path %>
