<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>MMApi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class='container-fluid'>
      <div class='container'>
        <%= image_tag('megamek_logo.png') %>
        <ul class='nav nav-tabs'>
          <li><a href="https://megamek.org" >Home</a></li>
          <li><a href="https://megamek.org/about" title="About the MegaMek Project">About</a></li>
          <li><a href="https://megamek.org/screenshots" title="Screenshots">Screenshots</a></li>
          <li><a href="https://megamek.org/downloads" title="Download MegaMek and related programs">Downloads</a></li>
          <li><a href="https://megamek.org/faq" title="Frequently Asked Questions">FAQ</a></li>
          <li><a href="https://megamek.org/projects" title="Projects that extend the use of MegaMek">Related Projects</a></li>
          <li><a href="https://megamek.org/where" title="Looking for somewhere to play?">Where to Play</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" title="Links to various ways to interact with the community">Community <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="https://www.megamek.org/bb">Forums</a></li>
              <li><a href="http://megamek.org:3000/">Slack</a></li>
              <li><a href="https://twitter.com/megamekteam">Twitter</a></li>
              <li><a href="https://www.facebook.com/MegaMek">Facebook</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" title="Servers">Servers <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="https://megamek.org/servers" title="A list of MegaMek servers registered with the server browser">Current Game Servers</a></li>
              <li><a href="http://megamek.org:9080/" title="A link to the Jenkins continuous integration server">Jenkins</a></li>
              <li><%= link_to 'API Docs', root_url %></li>
            </ul>
          </li>
          <li><a href="https://megamek.org/user/login" title="Login for webpage admins">Admin Login</a></li>
        </ul>
      </div>
    </header>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
