<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>MegaMek API</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class='container-fluid'>
      <div class='container'>
        <%= image_tag('megamek_logo.png') %>
        <ul class='nav nav-tabs'>
          <li><%= link_to 'API Home', root_url %></li>
          <li><%= link_to 'API Docs', docs_url %></li>
          <li><%= link_to 'Registered Game Servers', servers_url %></li>
        </ul>
      </div>
    </header>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
