<!doctype html>
<html lang='en'>
  <head>
    <title>MegaMek API</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <header class='container-fluid'>
      <div class='container'>
        <%= link_to(image_tag('megamek_logo.png'), 'https://megamek.org') %>
        <ul class='nav nav-tabs'>
          <li><%= link_to 'API Home', root_url, class: 'nav-link' %></li>
          <li><%= link_to 'API Docs', docs_url, class: 'nav-link'  %></li>
          <li><%= link_to 'Registered Game Servers', servers_url, class: 'nav-link'  %></li>
        </ul>
      </div>
    </header>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
